MASTER_IP=192.168.233.139
MASTER_PORT=8080
CHECK_INTERVAL_SECONDS=30

TEMP_MAX=35.0
HUMIDITY_MIN=20.0
HUMIDITY_MAX=80.0

SENSOR=temperature,101,Floor1_Room101_Temp
SENSOR=temperature,104,Floor1_Lobby_Temp
SENSOR=humidity,102,Floor1_Room101_Humidity
SENSOR=motion,103,Floor1_Corridor_Motion

SENSOR=temperature,201,Floor2_Room201_Temp
SENSOR=humidity,202,Floor2_Room201_Humidity
SENSOR=motion,203,Floor2_Corridor_Motion
SENSOR=co2,204,Floor2_Meeting_CO2

SENSOR=temperature,301,Floor3_Room301_Temp
SENSOR=humidity,302,Floor3_Room301_Humidity
SENSOR=motion,303,Floor3_Corridor_Motion
SENSOR=smoke,304,Floor3_Storage_Smoke